$color: #0b2735;


button {
  border: none;
  background: $color;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  &:hover { 
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
}

.post-update-link, .post-delete-link {
  display: block;
  box-sizing: border-box;
  width: 260px;
  margin: 20px auto 30px;
  font-size: large;
}